@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inconsolata */
@font-face {
    font-family: 'Inconsolata';
    src: url("assets/fonts/inconsolata-v31-latin-regular.woff2") format('woff2'),
    url('assets/fonts/inconsolata-v31-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Inconsolata', monospace;
}

.animate {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.animate:hover {
    opacity: 1;
}

a {
    color: blue !important;
}