@import './styles/notes.css';
@import './styles/proj.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
}

@font-face {
    font-family: 'Inconsolata';
    src: url("./assets/fonts/inconsolata-v31-latin-regular.woff2") format('woff2'),
        url('./assets/fonts/inconsolata-v31-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Regular';
    src: url("./assets/fonts/Inter-Regular.woff2") format('woff2'),
        url('./assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Bold';
    src: url("./assets/fonts/Inter-Bold.woff2") format('woff2'),
        url('./assets/fonts/Inter-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Newsreader Italic';
  src: url("./assets/fonts/Newsreader16pt-Italic.woff2") format('woff2'),
      url('./assets/fonts/Newsreader16pt-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Söhne';
  src: url("./assets/fonts/Sohne-Buch.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

.base-font-size {
  @apply text-sm md:text-base
}

.title {
  @apply dark:text-white text-black font-display mt-24
}

.week {
  @apply border-b border-[rgba(85,85,85,0.25)] dark:border-[#bbb] transition-colors ease-in-out duration-500
}

.week:hover {
  @apply border-black dark:border-white text-black dark:text-white
}

.custom-footer {
  @apply my-16 font-italic text-xs tracking-wide w-10/12 mx-auto lg:w-1/2
}

.animate {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.animate:hover {
    opacity: 1;
}

.js-logo-link {
  transform: translateY(-5px);
}

.js-logo-img {
  filter: drop-shadow(0 0 0.5em #f7df1eaa);
}